*{
    border: 0;
    padding: 0;
    margin: 0;
}

.wrapper{
    position: relative;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    position: relative;
    text-align: center;
    color: white;
    background-color: #010612;
    box-shadow: 2rem 0 8rem 11rem #010612;
}

header img{
    width: 100vw;
    height: 15rem;
}

.name{
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -65%);
    font-size: 2.7rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 0 0 2rem #bb75ef;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12rem 0 14rem;
}

main h1{
    font-size: 4rem;
}

section{
    display: flex;
    justify-content: center;
    
}

section a{
    margin: 2rem 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

section a p{
    margin: 1rem;
}

footer{
    bottom: 0;
    width: 100vw;
    height: 2rem;
    color: white;
    display: flex;
    justify-content: center;
    background-color: #010612;
    box-shadow: 0rem 0 8rem 11rem #010612;
    margin-top: 8rem;
}

footer a{
    padding: 0rem 4rem;
    text-decoration: none;
    color: white;
   
}

footer a:hover{
    text-decoration: underline;
    color: #bb75ef;
}